
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #212121;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}
.hamburger {
  display: none;
}
.container {
  width: 1030px;
}

.menu {
  padding: 10px 70px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.menu .menu-link {
  color: white;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.menu .menu-item {
  list-style-type: none;
  border-right: 2px dotted gray;
  padding-right: 25px;
}
.menu-item .menu-link:hover{
  color: #1FBAD6;
} 
.menu-item:last-child {
  border-right: none;
}
.subheader {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}

.subheader .scontainer {
  display: flex;
  justify-content: center;
}

.subhead {
  margin: 15px;
}

.subhead1 {
  margin: 15px;
  margin-right: 190px;
}

.official {
  color: #dadada;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 200;
}

.subheader-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 100;
  text-align: right;
}

.subheader-number {
  color: #ffffff;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  text-align: right;
}

.subheader-btn {
  display: block;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 8px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.subheader-btn:hover {
  transform: scale(1.05);
}
.first {
  height: 800px;
  background: url(../img/uber_bg.jpg) center center/cover no-repeat;
  padding-top: 50px;
}

.first .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.first-header {
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 60px;
  margin-top: 50px;
  padding-bottom: 20px;
  line-height: 60px;
}

.first-header span {
  font-size: 36px;
}

.first-text {
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 150px;
}

.first-btn1 {
  display: block;
  margin: 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 8px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: white;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.first-btn1:hover {
  transform: scale(1.05);
}

.second {
  height: 900px;
  padding: 15px 0;
}

.second-text {
  display: block;
  margin: 0 auto;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 11px;
  text-transform: uppercase;
  background-color: black;
  height: 25px;
  width: 113px;
  padding-top: 6px;
  margin-top: 10px;
}

.second-text2 {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  color: black;
  font-family: Roboto;
  font-size: 38px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 25px;
}

.second .container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.second-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.second-item {
  font-size: 14px;
  padding: 10px 0 10px 10px;
}

.second-img {
  padding: 17px 0;
  margin: 0 10px;
}

.second-item span {
  font-size: 16px;
  font-weight: 400;
  color: #1EACC7;
}

.third {
  height: 900px;
  background-image: url(../img/mobile_bg.png);
  padding: 15px 0;
}

.third-text {
  display: block;
  margin: 0 auto;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 11px;
  text-transform: uppercase;
  background-color: black;
  height: 25px;
  width: 113px;
  padding-top: 6px;
  margin-top: 10px;
}

.third-text2 {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  color: black;
  font-family: Roboto;
  font-size: 38px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 5px;
}

.third-text3 {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
  color: black;
  font-family: Roboto;
  font-size: 15px;
  margin-bottom: 25px;
}

.third .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1100px;
}

.third-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.third-item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  background-image: url(../img/Карточка\ 1.jpg);
}

.third-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  background-image: url(../img/Карточка\ 2.png);
}

.third-item3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  background-image: url(../img/Карточка\ 3.png);
}

.third-item4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  background-image: url(../img/Карточка\ 4.png);
}

.third-item5 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  background-image: url(../img/Карточка\ 5.png);
}

.third-item6 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  background-image: url(../img/Карточка\ 6.png);
}

.third-name {
  position: absolute;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.third .plus {
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}

.fourth {
  height: 898px;
  background-image: url(../img/background.jpg);
  padding: 15px 0;
}

.fourth-text {
  display: block;
  margin: 0 auto;
  font-weight: 100;
  text-align: center;
  color: black;
  font-family: Roboto;
  font-size: 11px;
  text-transform: uppercase;
  background-color: white;
  height: 25px;
  width: 113px;
  padding-top: 6px;
  margin-top: 10px;
}

.fourth-text2 {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 38px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 5px;
}

.fourth-text3 {
  display: block;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 15px;
  margin-bottom: 25px;
}

.fourth img {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.fourth .item {
  display: block;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  color: black;
  font-family: Roboto;
  font-size: 15px;
  margin-bottom: 25px;
}

.fifth {
  height: 900px;
  padding: 15px 0;
}

.fifth-text {
  display: block;
  margin: 0 auto;
  font-weight: 100;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 11px;
  text-transform: uppercase;
  background-color: black;
  height: 25px;
  width: 113px;
  padding-top: 6px;
  margin-top: 50px;
}

.fifth-text2 {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  color: black;
  font-family: Roboto;
  font-size: 38px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 30px;
}

.fifth .container {
  display: flex;
  flex-direction: column;
}

.fifth-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

span.title {
  color: #1CA8C3;
  font-size: 22px;
}

span.title-one {
  color: #FF5656;
  font-size: 22px;
}

ul {
  margin: 20px 0;
}

li {
  padding-bottom: 5px;
}

.subtitle {
  color: #1CA8C3;
  font-size: 16px;
}

.sixth {
  height: 720px;
  background-color: black;
  padding: 15px 0;
  background: url(../img/world_bg.png) center center/cover no-repeat;
  position: relative;
}

.sixth-text {
  display: block;
  margin: 0 auto;
  font-weight: 100;
  text-align: center;
  color: black;
  font-family: Roboto;
  font-size: 11px;
  text-transform: uppercase;
  background-color: white;
  height: 25px;
  width: 113px;
  padding-top: 6px;
  margin-top: 40px;
}

.sixth-text2 {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 38px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 5px;
}

.sixth-text3 {
  display: block;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 15px;
  margin-bottom: 25px;
}

.sixth a {
  display: block;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  color: #1FBAD6;
  font-family: Roboto;
  font-size: 15px;
  text-decoration: none;
position: absolute;
bottom: 25px;
left: 50%;
transform: translateX(-50%);
}

footer {
  height: 180px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.footer-social {
  width: 296px;
  display: flex;
  margin-top: 65px;
}

.footer-social .icon {
  margin: 0 7px;
}

.footer-ref {
  margin-top: 65px;
}

.descr .divider {
  width: 301px;
  height: 7px;
  background-color: #1FBAD6;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.descr-text {
  display: block;
  margin: 0 auto;
  width: 350px;
}

.descr-text ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.menu1 li {
  font-size: 15px;
}

.menu2 li {
  font-size: 11px;
  color: #999999;
}

.descr .lang {
  width: 350px;
  text-align: center;
  font-size: 11px;
  color: #1fbad6;
}
.xs-visible {
  display: none;
  margin: 0 auto;
}
